<div class="flex justify-content-center h-screen">
    <form [formGroup]="forgotPasswordForm" class="flex align-items-center" (ngSubmit)="onSubmit()">
      <p-card header="Forgot Password" class="shadow-5">
        <div *ngIf="successMessage" class="p-success mb-3">{{ successMessage }}</div>
        <div *ngIf="errorMessage" class="p-error mb-3">{{ errorMessage }}</div>
        <div class="field">
          <label for="email">Email</label>
          <input formControlName="email" type="text" pInputText class="w-full" name="email" placeholder="Enter your email" />
          <small *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="block p-error">
            <div *ngIf="email?.errors?.['required']">Email is required.</div>
            <div *ngIf="email?.errors?.['email']">Email is invalid.</div>
          </small>
        </div>
        <p-button label="Send Reset Link" styleClass="w-full" type="submit"></p-button>
      </p-card>
    </form>
  </div>
  