<div class="flex justify-content-center h-screen">
    <form [formGroup]="resetPasswordForm" class="flex align-items-center" (ngSubmit)="onSubmit()">
      <p-card header="Reset Password" class="shadow-5">
        <div *ngIf="successMessage" class="p-success mb-3">{{ successMessage }}</div>
        <div *ngIf="errorMessage" class="p-error mb-3">{{ errorMessage }}</div>
        <div class="field">
          <label for="newPassword">Nueva contraseña</label>
          <input formControlName="newPassword" type="password" pInputText class="w-full" name="newPassword" placeholder="Introduce tu nueva contraseña" />
          <small *ngIf="newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)" class="block p-error">
            <div *ngIf="newPassword?.errors?.['required']">Password es requerida.</div>
            <div *ngIf="newPassword?.errors?.['minlength']">Password debe de tener mas de 6 caracteres.</div>
          </small>
        </div>
        <p-button label="Reset Password" styleClass="w-full" type="submit"></p-button>
      </p-card>
    </form>
  </div>
  